{% extends "layout.html" %}

{% block title %}
findFoods()
{% endblock %}

{% block body %}
<!-- Search for {{tag}}: {{matches}} matches.<br> -->
<table class="pure-table">
    <thead>
        <tr>
            <th>Name</th>
	    <th>Rating</th>
   <!--           <th>Calories</th>      -->
            <th>Ingredients</th>
            <th>Picture</th>
        </tr>
    </thead>
{% for r in d['matches'] %}
  <tr>
    <td><a href='/get/{{r['id']}}'>{{r['recipeName']}}</a><br></td>
    <td>Rating: {{r['rating']}}</td>
    <td>Ingredients:
      {% for i in r['ingredients'] %}
      {{i}}, 
      {% endfor %}</td>
    <td>
      <img height=100 src={{r['smallImageUrls'][0]}}><br>
    </td>
  <tr>
{% endfor %}
{% endblock %}
