{% extends "layout.html" %}

{% block title %}
{{d['name']}}
{% endblock %}

{% block body %}

<h1>{{d['name']}}</h1>

<!-- Let's forget about the meal plan idea lol
<a href="/{{d['id']}}">Add to Meal Plan</a><br><br> -->
<img height=150 src="{{d['images'][0]['hostedLargeUrl']}}"><br>{{d['images']['hostedLargeUrl']}}
<br><br>
<a href="{{d['source']['sourceRecipeUrl']}}">Original Recipe</a><br><br>
<b>Rating: </b>{{d['rating']}} <br><br>
{{d['yield']}} <br><br>
<b>Total Time: </b>{{d['totalTime']}} <br><br>
<b>Cuisines: </b>
{% if d['attributes']['cuisine'] %}
{% for i in d['attributes']['cuisine'] %}
{{i}}<br>
{% endfor %}
{% else %}
None
{% endif %}
<br><br>
<b>Ingredients: </b>
{% for i in d['ingredientLines'] %}
{{i}}<br>
{% endfor %}
<br><br>
<b>Flavors: </b>
{% if d['flavors'] %}
{% for i in d['flavors'] %}
{{i}}: d['flavors'][i]<br>
{% endfor %}
{% else %}
None
{% endif %}
<br><br>

<b>Nutritional Information</b>
<br>
{% for r in d['nutritionEstimates'] %}
{{r["attribute"]}}: {{r["value"]}} {{r["unit"]["abbreviation"]}}<br>
{% endfor %}<br>

{% endblock %}
