{% extends "layout.html" %}

{% block title %}
Search
{% endblock %}

{% block body %}
<form method="POST" class="pure-form pure-form-aligned">
  <fieldset>
    <legend>
      Select your criteria!
    </legend>
    <div class="pure-control-group">
      <label for="keyword">Keyword</label>
      <input type="text" name="keyword" placeholder="Keyword">
    </div>
    <div class="pure-control-group">
      <label for="ingredients">Ingredients</label>
      <input type="text" name="ingredients" placeholder="Ingredients, separated by commas"><br>
    </div>
    <div class="pure-control-group">
      <label for="time">Time to Make</label>
      <input type="text" name="time" placeholder="60"> minutes<br>
    </div>
    <div class="pure-control-group">
      <label for="
    <div class="pure-controls">
      <input type="submit" class="pure-button pure-button-primary" name="button" value="search">
      <input type="submit" class="pure-button pure-button-primary" name="button" value="cancel">
    </div>
  </fieldset>
</form>
{% endblock %}
